/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Rubik Mono One', sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

/* NAV */
nav {
    position: fixed;
    top: 40px;
    right: 30px;
    z-index: 50;
}

nav ul {
    display: flex;
}
nav li {
    margin: 0 20px;
}
nav a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    background-color: white;
    display: inline-block;
    text-decoration: none;
    color: black;
}

/* MAIN */
section {
    width: 100%;
    height: 100vh;
    position: relative;
}

.section-container {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h2 {
    font-size: 45px;
}

#shoe-1 {
    background-color: red;
    color: yellow;
}
#shoe-2 {
    background-color: green;
    color: yellow;
}
#shoe-3 {
    background-color: yellow;
    color: green;
}