* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    width: 100%;
    height: 100vh;
    background-image: url('../img/flight.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.player {
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 5px solid red;
    line-height: 70px;
    padding: 0 20px;
}

.player-icon {
    font-size: 40px;
    color: white;
}